<%= @game.player_1.name %> <%= @game.player_1.hit_points %>HP vs. <%= @game.player_2.name %> <%= @game.player_2.hit_points %>HP
<br>
<%# <%= @player_1.hit_points %>
<%# <%= @player_2.hit_points %>
<%= @game.current_turn.name %>'s turn
<br>
<a href="/attack">Attack</a>
